<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:名称空间，指定为接口的全类名 -->
<mapper namespace="dao.DeptMapper">
    <!--public Dept getDeptById(int id)-->
    <select id="getDeptById" resultType="entity.Dept">
        select id, dept_name deptName from t_dept where id = #{id}
    </select>
</mapper>