<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.alan.mapper.MyNodeMapper">
<select id="buildNodesFrom" resultType="cn.alan.entity.MyNode">
    SELECT id,nodecontent as name, pid FROM nodelist WHERE FIND_IN_SET(id, getChild(#{id}))
</select>
</mapper>